/* body {
    font-family: 'lato', sans-serif;
} */

#customer-table .container {
    height: 700px;
    overflow-y: scroll;
    margin-left: -45px;
    margin-top: 76px;
    /* max-width: 1372px; */
    margin-right: 0px;
}

#customer-table .table-header {
    overflow-y: hidden;
    color: #015249;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
}

#customer-table h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

#customer-table .list-image {
    width: 109px;
    height: 105px;
    background: 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

#customer-table .responsive-table li {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}

#customer-table .table-header {
    font-style: Lato, Bold;
    font-size: 22px;
    font-weight: bold;
    height: 60px;
    background-color: #57BC90;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

#customer-table .table-row {

    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

#customer-table .col-1 {
    flex-basis: 12%;
}

#customer-table .col-2 {
    flex-basis: 12%;
}

.col-3 {
    flex-basis: 25%;
}

#customer-table .col-4 {
    flex-basis: 25%;
}

#customer-table .col-4 {
    flex-basis: 25%;
}

#customer-table .col-5 {
    flex-basis: 13%;
}

#customer-table .col-6 {
    flex-basis: 13%;
}

#customer-table .edit-button {
    top: 485px;
    left: 1574px;
    width: 106px;
    height: 33px;
    background: #39B54A 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 0.4;
    font-size: 16px;
    color: #008212;
}

#customer-table .delete-button {
    top: 485px;
    left: 1710px;
    width: 106px;
    height: 33px;
    font-size: 16px;
    background: #D80000 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 0.4;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #015249;
}

@media all and (max-width: 1400px) {

    /* #customer-table .table-header {
        display: none;
    } */
    #customer-table .responsive-table li {
        /* overflow-x: scroll; */

        overflow-x: auto;
    }

    #customer-table .col-1 {
        flex-basis: 25%;
    }

    #customer-table .col-2 {
        flex-basis: 25%;
    }

    .col-3 {
        flex-basis: 25%;
    }

    #customer-table .col-4 {
        flex-basis: 25%;
    }

    #customer-table .col-4 {
        flex-basis: 25%;
    }

    #customer-table .col-5 {
        flex-basis: 25%;
    }

    #customer-table .col-6 {
        flex-basis: 25%;
    }

    /* #customer-table .table-row {}

    #customer-table li {
        display: block;
    } */


}

@media all and (max-width: 3694px) {
    #customer-table .container {
        max-width: 3000px;
    }
}